html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #10141E;
}

input {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 300;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
/*     background: black; */
  }
}
